body {
    background: #1e1e1e;
    color: #b4b4b4;
    font-family: 'cambria';
}

.spacerLg {
  margin-top: 2em;
}

.capitalize {
  text-transform: capitalize;
}

.loadingPokeball {
  width: 5vw;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen and (min-width: 1025px) {

  .mobileRender {
    display: none;
  }

  .desktopRender {
    display: block;
  }

}

@media only screen and (max-width: 1024px) {

  .mobileRender {
    display: block;
  }

  .desktopRender {
    display: none;
  }

}

/* navbar */

.navbarRow {
    margin-left: 0em;
    margin-right: 0em;
}

.navLinkContainer {
    text-align: center;
}

a.navbarLink, a.navbarLink:hover {
    color: #b4b4b4;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

a.navbarLinkSelected {
    color: #FFCA39;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

/* end navbar */

/* landing */

@media only screen and (min-width: 1025px) {
  #showDesktop {
    display: block;
  }

  #showMobile {
    display: none;
  }

  #pdAnim {
    width: 100vw;
  }
}

@media only screen and (max-width: 1024px) {

  #showDesktop {
    display: none;
  }

  #showMobile {
    display: block;
  }

  #pdAnimMobile {
    width: 100vw;
  }
}

#staticLandingSvg {
    width: 100vw;
}

#staticLandingMobileSvg  {
    width: 100%;
}

/* end landing */

/* pokemon */

.pokemonListNoteCard {
  width: auto;
  padding: 0em;
  display: inline-block;
  cursor: pointer;
}

.pokemonListText {
  text-transform: capitalize;
  font-size: 0.8em;
}


@media only screen and (min-width: 1025px) {

  .pokemonListSprite {
    margin-left: 1.25em;
    margin-right: 1.25em;
  }

}

@media only screen and (max-width: 1024px) {

  .pokemonListSprite {
    margin-left: 0.9em;
    margin-right: 0.9em;
  }

}

/* end pokemon */

/* footer */

.footer {
  font-size: 0.75em;
  margin-left: 3em;
  margin-top: 5em;
}

/* end footer */

/* pokemon details */

.pokemonTitle {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: -0.25em;
}

.statsBlock {
  margin-top: 3em;
}

.statHeader {
  font-weight: 600;
  margin-right: 2em;
  color: #FFCA39;
}

.statsHeader {
  font-weight: 600;
  color: #3967ff;
}

.pokemonDetailLeftSpacer {
  margin-left: 1em;
}

.typeImg {
  width: 2em;
  margin-right: 0.25em;
}

#pokemonTitleId {
  font-size: 0.85em;
  text-align: center;
  margin-bottom: 1em;
}

#pokemonDetails {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  top: 10vh;
}

@media only screen and (min-width: 1025px) {

  #returnToPokemonList {
    text-align: center;
    margin-right: 2em;
    cursor: pointer;
    border: 2px solid #FFCA39;
    padding: 0.25em;
  }

}

@media only screen and (max-width: 1024px) {

  #returnToPokemonList {
    text-align: center;
    margin-right: 2em;
    cursor: pointer;
    border: 2px solid #FFCA39;
    padding: 0.25em;
  }

}

/* end pokemon details */






/* template

@media only screen and (min-width: 1025px) {

}

@media only screen and (max-width: 1024px) {

}

end template */