body {
    background: #1e1e1e;
    color: #b4b4b4;
    font-family: 'cambria';
}

.spacerLg {
  margin-top: 2em;
}

.loadingPokeball {
  width: 5vw;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* navbar */

.navbarRow {
    margin-left: 0em;
    margin-right: 0em;
}

.navLinkContainer {
    text-align: center;
}

a.navbarLink, a.navbarLink:hover {
    color: #b4b4b4;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

a.navbarLinkSelected {
    color: #FFCA39;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

/* end navbar */

/* landing */

@media only screen and (min-width: 1025px) {
  #showDesktop {
    display: block;
  }

  #showMobile {
    display: none;
  }

  #pdAnim {
    width: 100vw;
  }
}

@media only screen and (max-width: 1024px) {

  #showDesktop {
    display: none;
  }

  #showMobile {
    display: block;
  }

  #pdAnimMobile {
    width: 100vw;
  }
}

#staticLandingSvg {
    width: 100vw;
}

#staticLandingMobileSvg  {
    width: 100%;
}

/* end landing */

/* pokemon */

.pokemonListNoteCard {
  width: auto;
  padding: 0em;
  display: inline-block;
}

.pokemonListText {
  text-transform: capitalize;
  font-size: 0.8em;
}


@media only screen and (min-width: 1025px) {

  .pokemonListSprite {
    margin-left: 1.25em;
    margin-right: 1.25em;
  }

}

@media only screen and (max-width: 1024px) {

  .pokemonListSprite {
    margin-left: 0.9em;
    margin-right: 0.9em;
  }

}

/* end pokemon */

/* footer */

.footer {
  font-size: 0.75em;
  margin-left: 3em;
  margin-top: 5em;
}

/* end footer */